imple web application similar to sleepyti.me but limited to suggesting wake up times based on calculating sleep cycles.
.idea/*
leep cycle, you will feel groggy even if you've completed several cycles before waking up.